# Binaries
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib
network-view-osx

# Backend
backend/gen/
backend/vendor/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.svelte-kit
frontend/build

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
.DS_Store
.AppleDouble
.LSOverride
